<p> Add New Drug </p>

<form action="/drugs" method="post">
  <input type="text" name="name" placeholder="name"></input>
  <input type="text" name="mech" placeholder="mechanism"></input>
  <input type="submit" value="OK">
</form>
