<p> Add New Mech </p>

<form action="/mechs" method="post">
  <input type="text" name="name" placeholder="name"></input>
  <input type="text" name="drug" placeholder="drug"></input>
  <input type="submit" value="OK">
</form>
